// ============= Раздел переменных ============= //


$animation-duration: 0.3s;
$animation-time-func: ease-out;


// ================ Миксины ==================== //


@mixin animate_once($animation-name, $animation-duration) {
    animation-name: $animation-name;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-time-func;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


// ================ Анимации ==================== //


@keyframes animation-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
