@import '../../base/default.scss';


// ============= Раздел переменных ============= //


$helper-text-color: #B0BBCA;
$helper-font-size: 1.2rem;


// ================ Всплывающая подсказка ==================== //


.helper {
    opacity: 0;
}


.helper_show {
    @include animate_once(animation-show, $animation-duration);
}


.helper__text {
    color: $helper-text-color;
    font-size: $helper-font-size;
}
