doctype html

html(lang="ru")

    head
    
        title canvas animation
        meta(charset='utf-8')

    body
    
        include template/components/equalizer/main.pug
        script(src='test.js')
