doctype html

html(lang="ru")

    head
    
        title canvas animation
        meta(charset='utf-8')
        link(href='style/base/normalize.css', rel='stylesheet')

    body
    
        include template/components/equalizer/main.pug
        include template/components/track-list/main.pug
        include template/components/helper/main.pug
        script(src='test.js')
