//
//
//


link(href='style/components/track-list/main.css', rel='stylesheet')
script(src='script/components/track-list/main.js')


.panel
    .track-list
        .audio-track.audio-track_played
            .audio-track__title Eminem - Apologies
            .audio-track__time 03:15
        .audio-track.audio-track_selected
            .audio-track__title Sabaton - Panzerkampf
            .audio-track__time 04:12
        .audio-track
            .audio-track__title Sabaton - Primo Victoria
            .audio-track__time 04:00
    .panel__vscroll
