@import '../../base/default.scss';


// ============= Раздел переменных ============= //


$panel-bg-color: #414A59;
$panel-animation-speedk: 5;

$track-list-border-width: 5px;
$track-list-border-bg-color: #D24F5A;

$audio-track-padding: 5px;
$audio-track-font-size: 1.2rem;
$audio-track-color: #B0BBCA;
$audio-track-color-hover: white;
$audio-track-bg-color-played: #676C78;
$audio-track-bg-color-selected: #418FE0;


// ================ Анимации ==================== //


@keyframes animation-track-list-border-color {
    from {
        border-color: transparent;
    }
    to {
        border-color: $track-list-border-bg-color;
    }
}


@keyframes animation-track-list-border-top-color {
    from {
        border-top-color: transparent;
    }
    to {
        border-top-color: $track-list-border-bg-color;
    }
}


@keyframes animation-track-list-border-bottom-color {
    from {
        border-bottom-color: transparent;
    }
    to {
        border-bottom-color: $track-list-border-bg-color;
    }
}


@keyframes animation-played {
    from {
        background-color: transparent;
    }
    to {
        background-color: $audio-track-bg-color-played;
    }
}


@keyframes animation-selected {
    from {
        background-color: transparent;
    }
    to {
        background-color: $audio-track-bg-color-selected;
        color: $audio-track-color-hover;
    }
}


@keyframes animation-slide-left-down {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


@keyframes animation-slide-left-up {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


// ================ Панель ==================== //


.panel {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: $panel-bg-color;

    overflow: hidden;
}


.panel_hide {
    @include animate_once(
        animation-slide-left-down,
        $animation-duration * $panel-animation-speedk);
}


.panel_show {
    @include animate_once(
        animation-slide-left-up,
        $animation-duration * $panel-animation-speedk);
}


// ================ Аудио-лист ==================== //


.track-list {
    border-width: 0;
    border-top-width: $track-list-border-width;
    border-bottom-width: $track-list-border-width;
    width: 100%;
    height: 100px;

    font-size: 1rem;

    color: $audio-track-color;
    border-style: solid;
    border-color: transparent;

    overflow: hidden;
}


.track-list_border-top {
    @include animate-once(animation-track-list-border-top-color, $animation-duration);
}


.track-list_border-bottom {
    @include animate-once(animation-track-list-border-bottom-color, $animation-duration);
}


.track-list_border-bottom.track-list_border-top {
    @include animate-once(animation-track-list-border-color, $animation-duration);
}


// ================ Аудио-трэк ==================== //


.audio-track {
    display: list-item;

    padding: $audio-track-padding;
    height: auto;

    font-size: 0;

    cursor: pointer;
    transition: color $animation-duration $animation-time-func;


    &:hover {
        color: $audio-track-color-hover;
    }
}


.audio-track_played {
    @include animate_once(animation-played, $animation-duration);
}


.audio-track_selected {
    @include animate_once(animation-selected, $animation-duration);
}


.audio-track__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    height: 100%;
}


.audio-track__title {
    font-size: $audio-track-font-size;
}


.audio-track__time {
    font-size: $audio-track-font-size;
    line-height: $audio-track-font-size;
}
