doctype html

html(lang="ru")

    head
    
        title canvas animation
        meta(charset='utf-8')
        link(href="style.css", rel="stylesheet")
        script(src="script.js")

    body
    
        //- Анимированный SVG - эквалайзер
        svg.equalizer(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 300 200', width='300', height='200')
            defs
                clippath#_clipPath_CQiDeDt5LjfNisHjOtz6tBVC5dDS3vKo
                    rect(width='300', height='200') 
            g(clip-path='url(#_clipPath_CQiDeDt5LjfNisHjOtz6tBVC5dDS3vKo)')
                rect(x='0', y='0', width='300', height='200', transform='matrix(1,0,0,1,0,0)', fill='rgb(65,75,89)')     
                g(style='isolation:isolate')
                    //-
                        max:
                            height = 86
                            y = 57
                        min:
                            height = 0
                            y = 143
                        inc(height) => dec(y)
                        dec(height) => inc(y)
                    rect.equalizer__level.equalizer__level_animated(x='208', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')   
                    rect.equalizer__level.equalizer__level_animated(x='194', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')            
                    rect.equalizer__level.equalizer__level_animated(x='180', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')         
                    rect.equalizer__level.equalizer__level_animated(x='166', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')        
                    rect.equalizer__level.equalizer__level_animated(x='152', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')         
                    rect.equalizer__level.equalizer__level_animated(x='138', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')           
                    rect.equalizer__level.equalizer__level_animated(x='124', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')           
                    rect.equalizer__level.equalizer__level_animated(x='110', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')          
                    rect.equalizer__level.equalizer__level_animated(x='96', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')
                    rect.equalizer__level.equalizer__level_animated(x='82', y='143', width='10', height='0', transform='matrix(1,0,0,1,0,0)', fill='rgb(176,187,202)')
