//
// Сброс стандартных стилей
//
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


//
// Анимация для полос эквалайзера: изменение высоты
//
@keyframes level-animate {
    from {
        // Минимум
        height: 0;
        y: 143px;
    }
    to {
        // Максимум
        height: 86px;
        y: 57px;
    }
}


//
// Анимированность эквалайзера
//
.equalizer__level_animated {
    animation: level-animate;
}


//
// Старт анимации эквалайзера
//
.equalizer__level_animate-started {
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
}


//
// Остновка анимации эквалайзера на паузу
//
.equalizer__level_animate-paused {
    animation-play-state: paused;
}


//
// Остановка анимации эквалайзера
//
.equalizer__level_animate_stoped {
    animation-direction: altenate;
    animation-iteration-count: 1;
}


//
// ============= Разные анимационные функции для полос ========
//

.equalizer__level_animate-func-ease {
    animation-timing-function: ease;
}

.equalizer__level_animate-func-ease-in {
    animation-timing-function: ease-in;
}

.equalizer__level_animate-func-ease-out {
    animation-timing-function: ease-out ;
}

.equalizer__level_animate-func-ease-in-out {
    animation-timing-function: ease-in-out;
}

.equalizer__level_animate-func-linear {
    animation-timing-function: linear;
}


//
// ============= Разная скорость анимации для полос ========
//

.equalizer__level_animate-duration-slow{
    animation-duration: 1s;
}

.equalizer__level_animate-duration-normal{
    animation-duration: 0.8s;
}

.equalizer__level_animate-duration-fast{
    animation-duration: 0.5s;
}
