// ============= Раздел переменных ============= //


$speed-slow: 0.5s;
$speed-normal: 0.8s;
$speed-fast: 1s;


// ================ Анимации ==================== //


@keyframes level-animation {
    from {
        height: 0;
        y: 143px;
    }
    to {
        height: 86px;
        y: 57px;
    }
}


// ================ Эквалайзер ==================== //


.equalizer {
    width: 100%;
    height: 100%;
}


//
// Анимированность эквалайзера
//
.equalizer__level_animated {
    animation: level-animation;
}


//
// Старт анимации эквалайзера
//
.equalizer__level_animate-started {
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
}


//
// Остновка анимации эквалайзера на паузу
//
.equalizer__level_animate-paused {
    animation-play-state: paused;
}


//
// Остановка анимации эквалайзера
//
.equalizer__level_animate_stoped {
    animation-direction: altenate;
    animation-iteration-count: 1;
}


// ============= Разные анимационные функции для полос ============= //


.equalizer__level_animate-func-ease {
    animation-timing-function: ease;
}

.equalizer__level_animate-func-ease-in {
    animation-timing-function: ease-in;
}

.equalizer__level_animate-func-ease-out {
    animation-timing-function: ease-out ;
}

.equalizer__level_animate-func-ease-in-out {
    animation-timing-function: ease-in-out;
}

.equalizer__level_animate-func-linear {
    animation-timing-function: linear;
}


// ============= Разная скорость анимации для полос ======== //


.equalizer__level_animate-duration-slow {
    animation-duration: $speed-fast;
}

.equalizer__level_animate-duration-normal {
    animation-duration: $speed-normal;
}

.equalizer__level_animate-duration-fast {
    animation-duration: $speed-slow;
}
