/* Цветовая схема интерфейса приложения */

$color-main-back: #222D32;
$color-main-front: #29353B;

$color-element-1-inactive: #05aac0;
$color-element-1-active: #00bcd4;

$color-element-2-inactive: #d3dae3;
$color-element-2-active: #eee;

// $element-bg-color: #243035;

// $bg-colors: (
//     1: #222d32,
//     2: #243035,
//     3: #263238,
//     4: #29353b,
//     5: #242e33
// );

// $element-colors: (
//     1: #05aac0,
//     2: #00bcd4,
//     3: #a6b0b4,
//     4: #cfd8dc,
//     5: #364246,
//     6: #3c494e,
//     7: #4c575b,
//     8: #ff5252
// );
